<div *ngIf="invitation">
    <div
        class="fadein-card flex align-items-center justify-content-center my-3 fadeinup animation-duration-1000 animation-delay-200 animation-ease-in-out animation-iteration-1">
        <div class="flex w-24rem shadow-8 surface-card text-center h-24rem align-items-center justify-content-center">
            Invitation
        </div>
    </div>

    <div *ngIf="showDetails"
        class="fadein-card flex align-items-center justify-content-center my-3 fadeinup animation-duration-1000 animation-delay-500 animation-ease-in-out animation-iteration-1">
        <div class="flex w-24rem shadow-8 surface-card text-center h-24rem align-items-center justify-content-center">
            Entourage Details
        </div>
    </div>

    <div
        class="fadein-card flex align-items-center justify-content-center my-3 fadeinup animation-duration-1000 animation-delay-1000 animation-ease-in-out animation-iteration-1">
        <div
            class="flex flex-column w-24rem shadow-8 surface-card text-center h-24rem align-items-center justify-content-center">
            <div class="flex ">RSVP</div>
            <div class="p-3">
                Hello, {{invitation?.guest?.firstName}} {{invitation?.guest?.lastName}}. We have reserved
                <u><b>{{invitation?.maxGuests}}</b></u> seats for you. Please enter your names and submit by dd-mm-yyyy
            </div>
            <div class="grid">
                <div class="col-6">
                    <p-radioButton [(ngModel)]="rsvp.response" value="ACCEPT" />
                    <label>Joyfully Accept</label>
                </div>
                <div class="col-6">
                    <p-radioButton [(ngModel)]="rsvp.response" value="DECLINE" />
                    <label>Regretfully Decline</label>
                </div>
            </div>
            <div>
                <p-button label=" Send Response" (onClick)="sendResponse()" />
            </div>
        </div>
    </div>
</div>