<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <div class="my-2">
            <button pButton pRipple *ngIf="!isCreating" label="New" icon="pi pi-plus" class="p-button-success mr-2"
                routerLink="/event/{{eventId}}/invitations/add"></button>
            <button pButton pRipple *ngIf="!isCreating" label="Delete" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button>
        </div>
    </ng-template>
</p-toolbar>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table #dt [value]="items" [rows]="10" [paginator]="true" [globalFilterFields]="['firstName','code']"
                [(selection)]="selectedItems" [rowHover]="true" dataKey="id" [loading]="loading" [showLoader]="false">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input class="w-full sm:w-auto" pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
                        <th class="p-jc-end"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing">
                    <tr [pEditableRow]="item">
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.name" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item?.name}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.description" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.description}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex">
                                <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-pencil"
                                    routerLink="/event/{{eventId}}/invitation/{{item.id}}"
                                    class="p-button-rounded p-button-success mr-2 p-jc-end" pTooltip="Edit">
                                </button>
                                <button *ngIf="!editing" pButton pRipple
                                    class="p-button-rounded p-button-warning mr-2 p-jc-end" icon="pi pi-trash"
                                    (click)="delete(item)" pTooltip="Delete"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [colSpan]="4">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>