<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>

                <ng-template pTemplate="right">

                    <div class="my-2">
                        <button pButton pRipple *ngIf="!isCreating" label="New" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="addRow()"></button>

                        <button pButton pRipple *ngIf="!isCreating" label="Delete" icon="pi pi-trash"
                            class="p-button-danger" (click)="deleteSelectedItems()"
                            [disabled]="!selectedItems || !selectedItems.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="items" [rows]="10" [paginator]="true" [globalFilterFields]="['firstName','lastName']"
                editMode="row" [(selection)]="selectedItems" [rowHover]="true" dataKey="id" [loading]="loading"
                [showLoader]="false">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
                        <th pSortableColumn="dateCreated">Date Created<p-sortIcon field="dateCreated"></p-sortIcon></th>
                        <th pSortableColumn="dateUpdated">Date Updated<p-sortIcon field="dateUpdated"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing">
                    <tr [pEditableRow]="item">
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.firstName" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.firstName}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.lastName" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.lastName}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>{{item.dateCreated}}</td>
                        <td>{{item.dateUpdated}}</td>
                        <td>
                            <div class="flex">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" (click)="editRow()"
                                    class="p-button-rounded p-button-success mr-2" pTooltip="Edit">
                                </button>
                                <button *ngIf="!editing" pButton pRipple class="p-button-rounded p-button-warning"
                                    icon="pi pi-trash" (click)="delete(item)" pTooltip="Delete"></button>

                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                    icon="pi pi-check" (click)="save(item)"
                                    class="p-button-rounded p-button-text p-button-success mr-2">
                                </button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                    icon="pi pi-times" (click)="refreshGrid()"
                                    class="p-button-rounded p-button-text p-button-danger">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>