<div class="card">
    <p-table #dt *ngIf="zones$ | withStatus | async as zones" [value]="zones.value!" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','description']" editMode="row" dataKey="id" responsiveLayout="stack"
        [responsive]="true" [loading]="zones.loading" [showLoader]="false">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input class="w-full sm:w-auto" pInputText type="text"
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </span>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        [loading]="zones.loading!" (click)="addRow(zones.value!)"></button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="capacity">Capacity <p-sortIcon field="capacity"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr *ngFor="let i of [].constructor(5)">
                <td></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-editing="editing">
            <tr [pEditableRow]="item">
                <td>
                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="item.name" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="item.capacity"></p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{item.capacity}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <div class="flex">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                            class="p-button-text p-button-success mr-2" pTooltip="Edit">
                        </button>
                        <button *ngIf="!editing" pButton pRipple class="p-button-text p-button-warning"
                            icon="pi pi-trash" pTooltip="Delete" (click)="delete(item.id)"></button>

                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            class="p-button-text p-button-text p-button-success mr-2" (click)="save(item)">
                        </button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            class="p-button-text p-button-text p-button-danger">
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [colSpan]="6">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>