<ng-content></ng-content>

<div class="form-container">
  <div class="guest-names-container" *ngIf="eventGuestInvitationRsvp.response === 'ACCEPT'">
    @for (item of eventGuestInvitationRsvp.guestNames; track $index; let i = $index) {
    <input class="w-full" pInputText type="text" placeholder='Guest Name'
      [(ngModel)]="eventGuestInvitationRsvp!.guestNames![i]" />
    }
  </div>
  <div class="radiobutton-container">
    <div>
      <label for="accept" class="accept-label">{{acceptLabel}}</label>
      <input id="accept" type="radio" [(ngModel)]="eventGuestInvitationRsvp.response" value="ACCEPT" />
      <!-- <p-radioButton name="accept" [(ngModel)]="eventGuestInvitationRSVP.response" value="ACCEPT">Accept</p-radioButton> -->
    </div>
    <div>
      <label for="decline" class="decline-label">{{declineLabel}}</label>
      <input id="decline" type="radio" [(ngModel)]="eventGuestInvitationRsvp.response" value="DECLINE" />
      <!-- <p-radioButton name="decline" [(ngModel)]="eventGuestInvitationRSVP.response"  value="DECLINE">Decline</p-radioButton> -->
    </div>
  </div>
  <div class="button-container">
    <!-- <button class="submit-button" [ngClass]="submitButtonClass" (click)="onSendResponseClick()">Send Response</button> -->
    <p-button severity="info" [ngClass]="submitButtonClass" (click)="onSendResponseClick()">Send Response</p-button>
  </div>
</div>