<div class="grid" *ngIf="invitation$ | withStatus | async as invitation">
    <div class="col-12">
        <div class="card" *ngIf="guests$ | withStatus | async as guests">
            <h5>{{invitation.value?.name}} - Manage Recipients</h5>
            <p-table #dt [value]="guests.value?.result!" dataKey="id" [loading]="guests.loading || guests.loading"
                [showLoader]="false" [lazy]="true" [rows]="10" [paginator]="true" [lazyLoadOnInit]="true"
                [totalRecords]="guests.value?.totalRecords!" (onLazyLoad)="refreshGrid($event)">
                <ng-template pTemplate="caption">
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onSearch($event)" placeholder="Search name" />
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="firstName">
                            <div class="flex justify-content-between align-items-center">
                                Name
                                <p-sortIcon field="firstName"></p-sortIcon>
                            </div>
                        </th>
                        <th>Code</th>
                        <th>Going / Allocated Seats</th>
                        <th>Response</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr *ngFor="let i of [].constructor(5)">
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-guest let-expanded="expanded">
                    <tr
                        *ngIf="guest.guestInvitations | findItem: invitation.value?.id! : 'invitationId' as guestInvitation">
                        <ng-container *ngIf="guestInvitation.data | jsonParse as data">
                            <td>
                                <ng-container>
                                    <button *ngIf="data.response === 'ACCEPT'" type="button" pButton pRipple
                                        [pRowToggler]="guest" class="p-button-text p-button-plain"
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                </ng-container>
                            </td>
                            <td>{{guest.firstName}} {{guest.lastName}}</td>
                            <td>{{guestInvitation.code}}</td>
                            <td>
                                <ng-container *ngIf="guestInvitation?.id">
                                    <span *ngIf="guestInvitation.id">
                                        {{data?.guestNames?.length ?
                                        data?.guestNames?.length + 1 : "0"}}
                                    </span>
                                    /
                                    <span *ngIf="guestInvitation.seats">
                                        {{guestInvitation.seats}}
                                    </span>
                                    <span *ngIf="!guestInvitation.seats">
                                        0
                                    </span>
                                </ng-container>
                            </td>
                            <td>
                                <span *ngIf="guestInvitation.id && data.response"
                                    [class]="'invitation-badge status-' +data.response">{{data.response}}</span>
                                <span *ngIf="guestInvitation.id && !data.response"
                                    [class]="'invitation-badge status-awaiting-response'">Awaiting Response</span>
                                <span *ngIf="!guestInvitation.id"
                                    [class]="'invitation-badge status-not-assigned'">N/A</span>
                            </td>
                            <td>
                                <button pTooltip="Copy Link" *ngIf="guestInvitation.code" pButton pRipple type="button"
                                    icon="pi pi-fw pi-link" (click)="copyLink(guestInvitation.code)"
                                    class="p-button-text p-button-text"></button>
                                <a pTooltip="Open Link" *ngIf="guestInvitation.code" pButton pRipple type="button"
                                    icon="pi pi-fw pi-external-link" class="p-button-text p-button-text" target="_blank"
                                    routerLink="/invitation/{{guestInvitation.code}}"></a>
                                <button *ngIf="!guestInvitation.id" pButton pRipple type="button"
                                    icon="pi pi-fw pi-user-plus" class="p-button-text p-button-success mr-2 p-jc-end"
                                    pTooltip="Add Recipient" (click)="add(guest.id)">
                                </button>
                                <button *ngIf="guestInvitation.id" pButton pRipple type="button"
                                    icon="pi pi-fw pi-user-minus" class="p-button-text p-button-warning mr-2 p-jc-end"
                                    pTooltip="Remove Guest" (click)="delete(guestInvitation)">
                                </button>
                            </td>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-guest>
                    <tr
                        *ngIf="guest.guestInvitations | findItem: invitation.value?.id! : 'invitationId' as guestInvitation">
                        <ng-container *ngIf="guestInvitation.data | jsonParse as data">
                            <td colspan="7">
                                <div class="p-3" *ngIf="data.guestNames as guestNames">
                                    <p-table *ngIf="data.response === 'ACCEPT'" [value]="data.guestNames" dataKey="id"
                                        responsiveLayout="scroll">
                                        <ng-template pTemplate="summary">
                                            Response Details: {{data.details}}
                                        </ng-template>
                                        <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Secondary Guests</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-name>
                    <tr>
                        <td>{{name}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">There are no secondary guests recorded.

                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </ng-container>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [colSpan]="5">
                    No invitations found
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>