<div class="grid" *ngIf="invitation$ | withStatus | async as invitation">
    <div class="col-12">
        <div class="card" *ngIf="guests$ | withStatus | async as guests">
            <h5>{{invitation.value?.name}} - Manage Guests</h5>
            <p-table [value]="guests.value!" dataKey="id" [loading]="guests.loading || guests.loading"
                [showLoader]="false">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>Guest</th>
                        <th>Code</th>
                        <th>Seats</th>
                        <th>Secondary Guests</th>
                        <th>Response</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr *ngFor="let i of [].constructor(5)">
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-eventGuest let-expanded="expanded">
                    <tr
                        *ngIf="eventGuest.guestInvitations | findItem: invitation.value?.id! : 'invitationId' as guestInvitation">
                        <td>
                            <ng-container
                                *ngIf="guestInvitation.guestInvitationRsvps?.length && guestInvitation.guestInvitationRsvps | orderBy: 'dateCreated': 'desc' as guestInvitationRsvps">
                                <button *ngIf="guestInvitationRsvps[0].response === 'ACCEPT'" type="button" pButton
                                    pRipple [pRowToggler]="eventGuest" class="p-button-text p-button-plain"
                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </ng-container>
                        </td>
                        <td>{{eventGuest.firstName}} {{eventGuest.lastName}}</td>
                        <td>{{guestInvitation.code}}</td>
                        <td>{{guestInvitation.seats}}</td>
                        <td>
                            <span
                                *ngIf="guestInvitation.id && guestInvitation.guestInvitationRsvps.length && guestInvitation.guestInvitationRsvps | orderBy: 'dateCreated': 'desc' as guestInvitationRsvps">
                                {{guestInvitationRsvps[0].guestInvitationRsvpItems.length ?
                                guestInvitationRsvps[0].guestInvitationRsvpItems.length - 1 : "N/A"}}
                            </span>
                        </td>
                        <td>
                            <span
                                *ngIf="guestInvitation.id && guestInvitation.guestInvitationRsvps.length && guestInvitation.guestInvitationRsvps | orderBy: 'dateCreated': 'desc' as guestInvitationRsvps"
                                [class]="'invitation-badge status-' +guestInvitationRsvps[0].response">{{guestInvitationRsvps[0]?.response}}</span>
                            <span *ngIf="guestInvitation.id && !guestInvitation.guestInvitationRsvps.length"
                                [class]="'invitation-badge status-awaiting-response'">Awaiting Response</span>
                            <span *ngIf="!guestInvitation.id"
                                [class]="'invitation-badge status-not-assigned'">N/A</span>
                        </td>
                        <td>
                            <button pTooltip="Copy Link" *ngIf="guestInvitation.code" pButton pRipple type="button"
                                icon="pi pi-fw pi-link" (click)="copyLink(guestInvitation.code)"
                                class="p-button-text p-button-text"></button>
                            <a pTooltip="Open Link" *ngIf="guestInvitation.code" pButton pRipple type="button"
                                icon="pi pi-fw pi-external-link" class="p-button-text p-button-text" target="_blank"
                                routerLink="/invitation/{{guestInvitation.code}}"></a>
                            <button *ngIf="!guestInvitation.id" pButton pRipple type="button"
                                icon="pi pi-fw pi-user-plus" class="p-button-text p-button-success mr-2 p-jc-end"
                                pTooltip="Add Guest" (click)="add(eventGuest.id)">
                            </button>
                            <button *ngIf="guestInvitation.id" pButton pRipple type="button"
                                icon="pi pi-fw pi-user-minus" class="p-button-text p-button-warning mr-2 p-jc-end"
                                pTooltip="Remove Guest" (click)="delete(guestInvitation.id)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-eventGuest>
                    <tr>
                        <td colspan="7">
                            <div class="p-3"
                                *ngIf="eventGuest.guestInvitations[0].guestInvitationRsvps | orderBy: 'dateCreated': 'desc' as guestInvitationRsvps">
                                <p-table *ngIf="guestInvitationRsvps[0].response === 'ACCEPT'"
                                    [value]="guestInvitationRsvps[0].guestInvitationRsvpItems" dataKey="id"
                                    responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="amount">Name</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rsvpItem>
                    <tr>
                        <td>{{rsvpItem.name}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">There were no guest names recorded.

                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [colSpan]="4">
                    No invitations found
                </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>