.invitation-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-missing-invitation {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.status-awaiting-response {
        background: #ECCFFF;
        color: #694382;
    }

    &.status-responded {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-ACCEPT {
        background: #C8E6C9 !important;
        color: #256029 !important;
    }

    &.status-.no-response {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-DECLINE {
        background: #FFCDD2;
        color: #C63737;
    }
}