<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
    </ng-template>

    <ng-template pTemplate="right">

        <div class="my-2">
            <button pButton pRipple *ngIf="!isCreating" label="New" icon="pi pi-plus" class="p-button-success mr-2"
                routerLink="/event/{{eventId}}/guests/add"></button>

            <button pButton pRipple *ngIf="!isCreating" label="Delete" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button>
        </div>
    </ng-template>
</p-toolbar>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table #dt [value]="items" [rows]="10" [paginator]="true" [globalFilterFields]="['firstName','lastName']"
                editMode="row" [(selection)]="selectedItems" [rowHover]="true" dataKey="id" [loading]="loading"
                [showLoader]="false">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th pSortableColumn="firstName">
                            <div class="flex justify-content-between align-items-center">
                                First Name
                                <p-sortIcon field="firstName"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="lastName">
                            <div class="flex justify-content-between align-items-center">
                                Last Name
                                <p-sortIcon field="lastName"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="role">
                            <div class="flex justify-content-between align-items-center">
                                Role
                                <p-sortIcon field="role"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="responded">
                            <div class="flex justify-content-between align-items-center">
                                Status
                                <p-sortIcon field="responded"></p-sortIcon>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing" let-expanded="expanded">
                    <tr [pEditableRow]="item">
                        <td>
                            <p-button type="button" pRipple [pRowToggler]="item" [text]="true" [rounded]="true"
                                [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        </td>
                        <td>{{item.guest.firstName}}</td>
                        <td>{{item.guest.lastName}}</td>
                        <td>
                            <span *ngFor='let eventGuestRole of item.eventGuestRoles'>
                                {{eventGuestRole.eventRole.name}}
                            </span>
                        </td>
                        <td class="text-center">
                            <span *ngIf="!item.eventGuestInvitations?.length"
                                class="invitation-badge status-missing-invitation">Missing
                                Invitation</span>
                            <span *ngIf="item.eventGuestInvitations?.length && hasResponded(item)"
                                class="invitation-badge status-responded">Responded</span>
                            <span *ngIf="item.eventGuestInvitations?.length && !hasResponded(item)"
                                class="invitation-badge status-awaiting-response">Awaiting Response</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" routerLink="/event/{{eventId}}/guest/{{item.id}}"
                                    class="p-button-rounded p-button-success mr-2" pTooltip="Edit">
                                </button>
                                <button *ngIf="!editing" pButton pRipple class="p-button-rounded p-button-warning"
                                    icon="pi pi-trash" (click)="delete(item)" pTooltip="Delete"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-eventGuest>
                    <tr>
                        <td colspan="7">
                            <p-table [value]="eventGuest.eventGuestInvitations" dataKey="id">
                                <ng-template pTemplate="header">
                    <tr>
                        <th>Invitation</th>
                        <th>Code</th>
                        <th>Response</th>
                        <th>Link</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-eventGuestInvitation>
                    <tr>
                        <td>
                            {{eventGuestInvitation.eventInvitation.name}}
                        </td>
                        <td>
                            {{eventGuestInvitation.code}}
                        </td>
                        <td>
                            <span
                                [class]="'invitation-badge status-' +eventGuestInvitation.eventGuestInvitationRSVPs[0]?.response">{{eventGuestInvitation.eventGuestInvitationRSVPs[0]?.response}}</span>
                        </td>
                        <td>
                            <a pTooltip="Copy" pButton pRipple type="button" icon="pi pi-share-alt"
                                class="p-button-rounded p-button-text"></a>
                            <a pTooltip="View" pButton pRipple type="button" icon="pi pi-eye"
                                class="p-button-rounded p-button-text" target="_blank"
                                routerLink="/invitation/{{eventGuestInvitation.code}}"></a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [colSpan]="4">
                            No invitations found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </td>
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [colSpan]="4">
                        No records found
                    </td>
                </tr>
            </ng-template>
            </p-table>
        </div>
    </div>
</div>