<ng-container *ngIf="events$ | withStatus | async as events">
    <p-dataView #dv [value]="events.value" [paginator]="true" [rows]="9" filterBy="title" layout="grid"
        [loading]="events.loading">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Title">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                <button pButton pRipple label="Add Event" class="p-button-raised p-button-success"
                    routerLink="/events/add"></button>
            </div>
        </ng-template>

        <ng-template let-events pTemplate="listItem">
            <div class="col-12" *ngFor="let event of events">
                <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                    <div class="flex-1 flex justify-content-between md:text-left">
                        <div class="font-bold text-2xl">{{event.title}}</div>

                        <div class="flex align-items-center justify-content-between m-3">
                            <button pButton pRipple label="Launch" routerLink="/event/{{event.id}}/dashboard"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger"
                                (click)="delete(event)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template let-events pTemplate="gridItem">
            <div class="grid grid-nogutter">
                <div class="col-12 md:col-4" *ngFor="let event of events">
                    <div class="surface-card shadow-2 p-3 border-round m-3 border-1 surface-border">
                        <div class="flex justify-content-between mb-3">
                            <div class="text-2xl font-bold">{{event.title}}</div>
                            <button pButton type="button" icon="pi pi-times" class="p-button-text p-button-secondary"
                                (click)="delete(event)"></button>
                        </div>
                        <div class="flex align-items-center justify-content-between">
                            <button pButton pRipple label="Launch" class="p-3 w-full mt-auto"
                                routerLink="/event/{{event.id}}/dashboard"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</ng-container>