<div class="change-response-container overflow-hidden flex flex-column gap-3"
  [@collapse]="!(checkIfResponded && guestInvitationRsvp.response && showRsvpForm)">
  <span *ngIf="checkIfRespondedMessage">
    {{checkIfRespondedMessage}}
  </span>
  <span *ngIf="checkIfAcceptedMessage && guestInvitationRsvp?.response === 'ACCEPT'">
    {{checkIfAcceptedMessage}}
  </span>
  <span *ngIf="checkIfDeclinedMessage && guestInvitationRsvp?.response === 'DECLINE'">
    {{checkIfDeclinedMessage}}
  </span>
  <div class="change-response-button-container">
    <p-button severity="info" (click)="changeResponse()">
      {{changeResponseButtonLabel ?? 'Change my response'}}</p-button>
  </div>
</div>

<div class="flex flex-column gap-3 overflow-hidden"
  [@collapse]="!(checkIfResponded && !guestInvitationRsvp.response) || !showRsvpForm">
  <ng-content></ng-content>

  <form [formGroup]="rsvpForm" (ngSubmit)="onSendResponseClick()">
    <div class="form-container flex flex-column">
      <div *ngIf="choiceMessage">{{choiceMessage}}</div>
      <div class="guest-names-container flex flex-column gap-3" [@collapse]="rsvpForm.value['response'] !== 'ACCEPT'">
        <div *ngIf="acceptMessage">{{acceptMessage}}</div>
        <ng-container *ngIf="showGuestInput">
          <span *ngIf="secondaryGuestsLabel && guestNames.controls.length">{{secondaryGuestsLabel}}</span>
          <ng-container *ngFor="let guestNameControl of guestNames.controls; let i = index">
            <input *ngIf="i < guestNames.controls.length" id="guest-{{i}}" [formControl]="guestNameControl" pInputText
              type="text" [ngClass]="{'w-full': true }" placeholder='{{secondaryGuestsPlaceholder || "Name " + i}}' />

            <p-message *ngIf="i===0  && guestNameControl?.invalid && guestNameControl?.touched" severity="warn"
              class="w-full" text="Please enter your name">
            </p-message>
          </ng-container>
        </ng-container>
        <div *ngIf="requestDetails" class="gap-3">
          <div>{{requestDetailsMessage}}</div>
          <textarea pInputText id="request-details" rows="10" class="w-full" formControlName="details"></textarea>
        </div>
      </div>
      <div class="radiobutton-container flex flex-wrap justify-content-center gap-3">
        <div class="flex gap-3 align-items-center">
          <p-radioButton pRipple inputId="response-accept" formControlName="response" value="ACCEPT" />
          <label class="ml-2" for="response-accept" class="accept-label">{{acceptLabel}}</label>
        </div>

        <div class="flex gap-3 align-items-center">
          <p-radioButton pRipple inputId="response-decline" formControlName="response" value="DECLINE" />
          <label class="ml-2" for="response-decline" class="decline-label">{{declineLabel}}</label>
        </div>
      </div>
      <div class="button-container flex flex-wrap gap-3" *ngIf="rsvpForm.value['response']">
        <p-button pRipple severity="info" [ngClass]="submitButtonClass" (click)="onSendResponseClick()"
          [disabled]="(rsvpForm.value['response'] === 'ACCEPT' && rsvpForm.get('guestNames')?.invalid)">Send
          Response</p-button>

      </div>
    </div>
  </form>
</div>

<div *ngIf="!showRsvpForm">
  Rsvp is no longer available
</div>