<div class="card flex justify-content-center align-items-center">
    <p-card class="vertical-align-middle" [style]="{ 'width': '300px', 'border-radius': '0px' }">
        <ng-template pTemplate="title">
            Event Name
        </ng-template>
        <ng-template pTemplate="subtitle">
            We have reserved 2 seats for you. Please enter your names and by dd-mm-yyyy
            View RSVP
        </ng-template>
        <ng-template pTemplate="content">
            Wedding
        </ng-template>
    </p-card>
</div>

<div class="card flex justify-content-center align-items-center height-max-content">
    <p-card class="vertical-align-middle" [style]="{ 'width': '300px', 'border-radius': '0px' }">
        <ng-template pTemplate="title">
            Hello, {{invitation?.guest?.firstName}} {{invitation?.guest?.lastName}}
        </ng-template>
        <ng-template pTemplate="subtitle">
            We have reserved 2 seats for you. Please enter your names and by dd-mm-yyyy
        </ng-template>
        <ng-template pTemplate="content">
            <div class="card flex justify-content-center">
                <div class="flex flex-column gap-3">
                    <div class="flex">
                        <p-radioButton [(ngModel)]="rsvp.response" value="ACCEPT" />
                        <label>Joyfully Accept</label>
                    </div>
                    <div class="flex">
                        <p-radioButton [(ngModel)]="rsvp.response" value="DECLINE" />
                        <label>Regretfully Decline</label>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex">
                <p-button label="Send Response" (onClick)="sendResponse()" />
            </div>
        </ng-template>
    </p-card>
</div>