<h5>Invitations</h5>

<p-table #dt [value]="items" [rows]="10" [paginator]="true" [globalFilterFields]="['name','code']" [pEditableRow]="item"
    [loading]="loading" [(selection)]="selectedItems" [rowHover]="true" dataKey="id" editMode="row"
    responsiveLayout="stack" [breakpoint]="'960px'">
    <ng-template pTemplate="caption">
        <p-button *ngIf="!isNew" label="New" icon="pi pi-plus" pInitEditableRow (onClick)="addRow()" />
        <p-button *ngIf="isNew" label="Save" icon="pi pi-save" pInitEditableRow (onClick)="save(item)" />
        <p-button label="Delete" icon="pi pi-trash" (click)="deleteSelectedItems()"
            [disabled]="!selectedItems || !selectedItems.length" />
        <p-button icon="pi pi-external-link" label="Export" (click)="dt.exportCSV()" />
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Search..." />
        </span>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Guest<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="code">Code<p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="dateCreated">Date Created<p-sortIcon field="dateCreated"></p-sortIcon></th>
            <th pSortableColumn="dateUpdated">Date Updated<p-sortIcon field="dateUpdated"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-editing="editing">
        <tr [pEditableRow]="item">
            <td>
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown #guestSelection [options]="guestCollection" [(ngModel)]="item.guestId"
                            appendTo="body" [filter]="true" optionValue="id" filterBy="firstName,lastName"
                            placeholder="Select a Guest">
                            <ng-template let-guestSelection pTemplate="selectedItem">
                                {{guestSelection.firstName}} {{guestSelection.lastName}}
                            </ng-template>
                            <ng-template let-guestSelection pTemplate="item">
                                {{guestSelection.firstName}} {{guestSelection.lastName}}
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{item?.guest?.firstName}} {{item?.guest?.lastName}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="item.code" />
                        <button pButton pRipple class="p-button-rounded p-button-text" icon="pi pi-refresh"
                            (click)="generateCode(5)" pTooltip="Generate Code"></button>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{item.code}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>{{item.dateCreated}}</td>
            <td>{{item.dateUpdated}}</td>
            <td>
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="editRow()" class="p-button-rounded p-button-text" pTooltip="Edit">
                </button>
                <button *ngIf="!editing" pButton pRipple class="p-button-rounded p-button-text" icon="pi pi-envelope"
                    routerLink="/invitation/{{item.code}}" pTooltip="Manage Invitations"></button>
                <button *ngIf="!editing" pButton pRipple class="p-button-rounded p-button-text" icon="pi pi-trash"
                    (click)="delete(item)" pTooltip="Delete"></button>

                <button *ngIf="editing && !isNew" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="save(item)" class="p-button-rounded p-button-text p-button-success mr-2">
                </button>
                <button *ngIf="editing && !isNew" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="refreshGrid()" class="p-button-rounded p-button-text p-button-danger">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>