<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            routerLink="/event/add"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedItems()"
                            [disabled]="!selectedItems || !selectedItems.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table pRipple #dt [value]="items" [columns]="columns" [rows]="10" [paginator]="true"
                [globalFilterFields]="['name','description', 'type']" [(selection)]="selectedItems" dataKey="id"
                responsiveLayout="stack" [responsive]="true" [loading]="loading" [showLoader]="false">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Events</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input class="w-full sm:w-auto" pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="eventType.name">Type <p-sortIcon field="eventType.name"></p-sortIcon></th>
                        <th pSortableColumn="startDate">Start Date <p-sortIcon field="startDate"></p-sortIcon></th>
                        <th pSortableColumn="endDate">End Date <p-sortIcon field="endDate"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            {{item?.eventType?.name}}
                        </td>
                        <td>
                            {{item.startDate}}
                        </td>
                        <td>
                            {{item.endDate}}
                        <td>
                            <div class="flex">
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    routerLink="/event/edit/{{item.id}}" class="p-button-rounded p-button-success mr-2"
                                    pTooltip="Edit">
                                </button>
                                <button pButton pRipple class="p-button-rounded p-button-info mr-2"
                                    icon="pi pi-envelope" routerLink="/event/invitations/{{item.id}}"
                                    pTooltip="View Invitations"></button>
                                <button pButton pRipple class="p-button-rounded p-button-warning" icon="pi pi-trash"
                                    (click)="delete(item)" pTooltip="Delete"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>