<p>Event Guest Invitation works!</p>
<!-- <p-table [value]="eventGuest.value!.eventGuestInvitations!" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th>Invitation</th>
            <th>Code</th>
            <th>Response</th>
            <th>Link</th>s
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-eventGuestInvitation>
        <tr>
            <td>
                {{eventGuestInvitation.eventInvitation.name}}
            </td>
            <td>
                {{eventGuestInvitation.code}}
            </td>
            <td>
                <span
                    [class]="'invitation-badge status-' +eventGuestInvitation.eventGuestInvitationRSVPs[0]?.response">{{eventGuestInvitation.eventGuestInvitationRSVPs[0]?.response}}</span>
            </td>
            <td>
                <a pTooltip="Copy" pButton pRipple type="button" icon="pi pi-share-alt"
                    class="p-button-rounded p-button-text"></a>
                <a pTooltip="View" pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"
                    target="_blank" routerLink="/invitation/{{eventGuestInvitation.code}}"></a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [colSpan]="4">
                No invitations found
            </td>
        </tr>
    </ng-template>
</p-table> -->