<!-- <div class="grid">
    <div class="col-12">
        <div class="card">
            <p-tabView orientation="left">
                <p-tabPanel header="Template" class="line-height-3 m-0">
                    <ng-template appEventInvitationTemplateViewer></ng-template>
                </p-tabPanel>
                <p-tabPanel header="Code" class="line-height-3 m-0">
                    <app-event-invitation-template-editor #editor [(templateCode)]="templateCode"
                        (templateCodeChange)="onTemplateCodeChange($event)"></app-event-invitation-template-editor>
                </p-tabPanel>
            </p-tabView>
        </div>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple *ngIf="!isCreating" label="New" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="addRow()"></button>
                        <button pButton pRipple *ngIf="!isCreating" label="Delete" icon="pi pi-trash"
                            class="p-button-danger" (click)="deleteSelectedItems()"
                            [disabled]="!selectedItems || !selectedItems.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="items" [rows]="10" [paginator]="true" [globalFilterFields]="['firstName','code']"
                [(selection)]="selectedItems" [rowHover]="true" dataKey="id" editMode="row" responsiveLayout="stack"
                [breakpoint]="'960px'" [loading]="loading" [showLoader]="false">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Invitations</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input class="w-full sm:w-auto" pInputText type="text"
                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="guest.firstName">Guest<p-sortIcon field="guest.firstName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="code">Code<p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="maxGuests">Max Guests<p-sortIcon field="maxGuests"></p-sortIcon></th>
                        <th pSortableColumn="limitedView">Limited View<p-sortIcon field="limitedView"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing">
                    <tr [pEditableRow]="item">
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown #guestSelection [options]="guestCollection" [(ngModel)]="item.guestId"
                                        appendTo="body" [filter]="true" optionValue="id" filterBy="firstName,lastName"
                                        placeholder="Select a Guest">
                                        <ng-template let-guestSelection pTemplate="selectedItem">
                                            {{guestSelection.firstName}} {{guestSelection.lastName}}
                                        </ng-template>
                                        <ng-template let-guestSelection pTemplate="item">
                                            {{guestSelection.firstName}} {{guestSelection.lastName}}
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item?.guest?.firstName}} {{item?.guest?.lastName}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown #maxGuestsSelection [options]="maxGuestsCollection"
                                        [(ngModel)]="item.maxGuests" appendTo="body">
                                        <ng-template let-maxGuestsSelection pTemplate="selectedItem">
                                            {{maxGuestsSelection}}
                                        </ng-template>
                                        <ng-template let-maxGuestsSelection pTemplate="item">
                                            {{maxGuestsSelection}}
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.maxGuests}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-checkbox [(ngModel)]="item.limitedView" [binary]="true" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <span *ngIf="item.limitedView" class="pi pi-check"></span>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" (click)="editRow()"
                                    class="p-button-rounded p-button-success mr-2" pTooltip="Edit">
                                </button>
                                <button *ngIf="!editing" pButton pRipple class="p-button-rounded p-button-warning mr-2"
                                    icon="pi pi-trash" (click)="delete(item)" pTooltip="Delete"></button>

                                <a *ngIf="!editing" rel="noreferrer noopener" target="_blank"
                                    routerLink="/invitation/{{item.code}}" pButton pRipple label="View Invitation"
                                    class="p-button-text"></a>


                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                    icon="pi pi-check" (click)="save(item)"
                                    class="p-button-rounded p-button-text p-button-success mr-2">
                                </button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                    icon="pi pi-times" (click)="refreshGrid()"
                                    class="p-button-rounded p-button-text p-button-danger">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div> -->