<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <button *ngIf="eventInvitation.html" pButton pRipple label="View Sample" icon="pi pi-upload"
            class="p-button-help"></button>
    </ng-template>
    <ng-template pTemplate="right">
        <div class="my-2">
            <button pButton pRipple label="Save" icon="pi pi-save" class="p-button-success mr-2"
                (click)="save()"></button>
        </div>
    </ng-template>
</p-toolbar>

<div class="grid">
    <div class="col-12 ">
        <div class="card shadow-2">
            <h5>Invitation Details</h5>

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="name">Name</label>
                    <input pInputText id="name" type="text" [(ngModel)]="eventInvitation.name" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="description">Description</label>
                    <input pInputText id="description" type="text" [(ngModel)]="eventInvitation.description" />
                </div>

                <ng-container *ngIf="eventInvitation.id">
                    <div class="col-12" *ngIf="eventGuests | withStatus | async as eventGuests">
                        <h5>Guests</h5>
                        <p-table [value]="eventGuests!.value!" dataKey="id" [loading]="eventGuests.loading"
                            [showLoader]="false">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Name</th>
                                    <th>Max Guests</th>
                                    <th>Response</th>
                                    <th>Link</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-eventGuest>
                                <tr>
                                    <td>
                                        {{eventGuest.firstName}} {{eventGuest.lastName}}
                                    </td>
                                    <td>
                                        {{eventGuest.eventGuestInvitations[0].maxGuests}}
                                    </td>
                                    <td>
                                        <span *ngIf="eventGuest.eventGuestInvitations[0]?.rsvps?.length"
                                            [class]="'invitation-badge status-' +eventGuest.eventGuestInvitations[0].rsvps[0]?.response">{{eventGuest.eventGuestInvitations[0].rsvps[0]?.response}}</span>
                                        <span *ngIf="!eventGuest.eventGuestInvitations[0]?.rsvps?.length"
                                            class="invitation-badge status-new">New</span>
                                    </td>
                                    <td>
                                        <a pTooltip="Copy" pButton pRipple type="button" icon="pi pi-share-alt"
                                            class="p-button-rounded p-button-text"></a>
                                        <a pTooltip="View" pButton pRipple type="button" icon="pi pi-eye"
                                            class="p-button-rounded p-button-text" target="_blank"
                                            routerLink="/invitation/{{eventGuest.eventGuestInvitations[0].code}}"></a>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="loadingbody">
                                <tr>
                                    <td><p-skeleton></p-skeleton></td>
                                    <td><p-skeleton></p-skeleton></td>
                                    <td><p-skeleton></p-skeleton></td>
                                    <td><p-skeleton></p-skeleton></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td [colSpan]="3">
                                        No guests found
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="card shadow-2">
            <p-tabView orientation="left">
                <p-tabPanel header="Template" class="line-height-3 m-0">
                    <div [style]="{height: '100vh !important' , overflow: 'auto'}">
                        <ngx-dynamic-hooks [content]="eventInvitation.html" [context]="{
                                guest: { firstName: 'First Name', lastName: 'Last Name'},
                                eventGuestInvitation: { maxGuests: 3},
                                onSubmit: onRsvpSubmit}" [options]="{sanitize: false}"></ngx-dynamic-hooks>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Editor" class="line-height-3 m-0" [style]="{height: '100vh', overflow: 'auto'}">
                    <ngs-code-editor #codeEditor theme="vs-dark" [codeModel]="model" [options]="options"
                        (loaded)="onEditorLoaded()" (valueChanged)="onCodeChanged($event)"
                        [style]="{height: '100vh'}"></ngs-code-editor>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>