<ng-container *ngIf="eventGuests$ | withStatus | async as eventGuests">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
        </ng-template>
        <ng-template pTemplate="right">
            <div class="my-2">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    [loading]="eventGuests.loading!" routerLink="/event/{{eventId}}/guests/add"></button>

                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                    [loading]="eventGuests.loading!" (click)="deleteSelectedItems()"
                    [disabled]="!selectedItems || !selectedItems.length"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div class="grid">
        <div class="col-12">
            <div class="card">
                <p-table #dt [value]="eventGuests.value!" [rows]="10" [paginator]="true"
                    [globalFilterFields]="['firstName','lastName']" editMode="row" [(selection)]="selectedItems"
                    [rowHover]="true" dataKey="id" [loading]="eventGuests.loading" [showLoader]="false">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="guest.firstName">
                                <div class="flex justify-content-between align-items-center">
                                    First Name
                                    <p-sortIcon field="guest.firstName"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="guest.lastName">
                                <div class="flex justify-content-between align-items-center">
                                    Last Name
                                    <p-sortIcon field="guest.lastName"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="seats">
                                <div class="flex justify-content-between align-items-center">
                                    Seats
                                    <p-sortIcon field="seats"></p-sortIcon>
                                </div>
                            </th>
                            <th>
                                <div class="flex justify-content-center">
                                    Role
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pEditableRow]="item">
                            <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                            <td>{{item.guest.firstName}}</td>
                            <td>{{item.guest.lastName}}</td>
                            <td>{{item.seats}}</td>
                            <td class="text-center">
                                <span *ngFor='let eventGuestRole of item.eventGuestRoles; let i = index'>
                                    {{eventGuestRole.role.name}}<span
                                        *ngIf=" i < item.eventGuestRoles.length - 1">,</span>
                                </span>
                            </td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                        routerLink="/event/{{eventId}}/guests/{{item.id}}/edit"
                                        class="p-button-text p-button-success mr-2" pTooltip="Edit">
                                    </button>
                                    <button pButton pRipple class="p-button-text p-button-warning" icon="pi pi-trash"
                                        (click)="delete(item)" pTooltip="Delete"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [colSpan]="7">
                                No records found
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-container>