<div class="grid">
    <div class="col-12">
        <div class="card" *ngIf="guests$ | withStatus | async as guests">
            <p-table #dt [value]="guests.value!" [rows]="10" [paginator]="true"
                [globalFilterFields]="['firstName','lastName']" editMode="row" [(selection)]="selectedItems"
                [rowHover]="true" dataKey="id" [loading]="guests.loading" [showLoader]="false">
                <ng-template pTemplate="caption">
                    <div class="flex flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <div>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input class="w-full sm:w-auto" pInputText type="text"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Search..." />
                            </span>
                        </div>

                        <div>
                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                                routerLink="/event/{{eventId}}/guests/add"></button>

                            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedItems()"
                                [disabled]="!selectedItems || !selectedItems.length"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="firstName">
                            <div class="flex justify-content-between align-items-center">
                                First Name
                                <p-sortIcon field="firstName"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="lastName">
                            <div class="flex justify-content-between align-items-center">
                                Last Name
                                <p-sortIcon field="lastName"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="maxGuests">
                            <div class="flex justify-content-between align-items-center">
                                Max Guests
                                <p-sortIcon field="maxGuests"></p-sortIcon>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-center">
                                Role
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pEditableRow]="item">
                        <td><p-tableCheckbox [value]="item"></p-tableCheckbox></td>
                        <td>{{item.guest.firstName}}</td>
                        <td>{{item.guest.lastName}}</td>
                        <td>{{item.maxGuests}}</td>
                        <td class="text-center">
                            <span *ngFor='let eventGuestRole of item.eventGuestRoles; let i = index'>
                                {{eventGuestRole.role.name}}<span *ngIf=" i < item.eventGuestRoles.length - 1">,</span>
                            </span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                    routerLink="/event/{{eventId}}/guests/{{item.id}}/edit"
                                    class="p-button-text p-button-success mr-2" pTooltip="Edit">
                                </button>
                                <button pButton pRipple class="p-button-text p-button-warning" icon="pi pi-trash"
                                    (click)="delete(item)" pTooltip="Delete"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [colSpan]="7">
                            No records found
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td><p-skeleton></p-skeleton></td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>