<ng-container *ngIf="guest$ | withStatus | async as guest">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
        </ng-template>
        <ng-template pTemplate="right">
            <div class="my-2">
                <button pButton pRipple label="Save" icon="pi pi-save" class="p-button-success mr-2"
                    [loading]="guest.loading!" (click)="save(guest.value!)"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Attendee Details</h5>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-2">
                        <label htmlFor="firstName">Salutation</label>
                        <p-dropdown *ngIf="!guest.loading" [options]="salutations" [(ngModel)]="guest.value!.salutation"
                            [showClear]="true">
                        </p-dropdown>
                        <p-skeleton *ngIf="guest.loading"></p-skeleton>
                    </div>
                    <div class="field col-12 md:col-5">
                        <label htmlFor="firstName">First Name</label>
                        <input pInputText *ngIf="!guest.loading" id="firstName" type="text"
                            [(ngModel)]="guest.value!.firstName" [value]="guest.value?.firstName" />

                        <p-skeleton *ngIf="guest.loading"></p-skeleton>
                    </div>
                    <div class="field col-12 md:col-5">
                        <label htmlFor="lastName">Last Name</label>
                        <input pInputText *ngIf="!guest.loading" id="lastName" rows="1" type="text"
                            [(ngModel)]="guest.value!.lastName" [value]="guest.value?.lastName" />

                        <p-skeleton *ngIf="guest.loading"></p-skeleton>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="lastName">Middle Name</label>
                        <input pInputText *ngIf="!guest.loading" id="middleName" rows="1" type="text"
                            [(ngModel)]="guest.value!.middleName" [value]="guest.value?.middleName" />

                        <p-skeleton *ngIf="guest.loading"></p-skeleton>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label htmlFor="nickName">Suffix</label>
                        <p-dropdown *ngIf="!guest.loading" [options]="suffixes" [(ngModel)]="guest.value!.suffix"
                            [showClear]="true">
                        </p-dropdown>
                        <p-skeleton *ngIf="guest.loading"></p-skeleton>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label htmlFor="nickName">Nickname</label>
                        <input pInputText *ngIf="!guest.loading" id="nickName" rows="1" type="text"
                            [(ngModel)]="guest.value!.nickName" [value]="guest.value?.nickName" />

                        <p-skeleton *ngIf="guest.loading"></p-skeleton>
                    </div>
                    <div class="field col-12 md:col-4" *ngIf="roles$ | withStatus | async as eventRoles">
                        <label htmlFor="role">Role</label>
                        <p-multiSelect #rolemultiselect *ngIf="!eventRoles.loading && !guest.loading" inputId="role"
                            placeholder="Select Role" [options]="eventRoles.value" optionLabel="name" optionValue="id"
                            [loading]="eventRoles.loading" [(ngModel)]="selectedRoleIds" />

                        <p-skeleton *ngIf="eventRoles.loading || guest.loading"></p-skeleton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>