<div class="card">
    <p-menubar [model]="menuItems">
        <ng-template pTemplate="start">
        </ng-template>
        <ng-template pTemplate="end">
            <div class="card flex justify-content-center">
                <p-menu #menu [model]="accountItems" [popup]="true" />
                <p-avatar (click)="menu.toggle($event)" icon="pi pi-fw pi-user" shape="circle" size="large"
                    label="{{getInitials()}}" severity="info" [style]="{ 'cursor' : 'pointer'}" />
            </div>
        </ng-template>
    </p-menubar>
</div>