<ng-container *ngIf="transactions$ | withStatus | async as transactions">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <p-table #dt [value]="transactions.value!" [rows]="10" [paginator]="true"
                    [globalFilterFields]="['name','type.name']" editMode="row" [rowHover]="true" dataKey="id"
                    [loading]="transactions.loading" [showLoader]="false">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="referenceNumber">
                                <div class="flex justify-content-between align-items-center">
                                    Reference Number
                                    <p-sortIcon field="referenceNumber"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="description">
                                <div class="flex justify-content-between align-items-center">
                                    Description
                                    <p-sortIcon field="description"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="transactionDate">
                                <div class="flex justify-content-between align-items-center">
                                    Date
                                    <p-sortIcon field="transactionDate"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="transactionType.name">
                                <div class="flex justify-content-between align-items-center">
                                    Transaction Type
                                    <p-sortIcon field="transactionType.name"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="amount">
                                <div class="flex justify-content-between align-items-center">
                                    Amount
                                    <p-sortIcon field="amount"></p-sortIcon>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pEditableRow]="item">
                            <td>
                                {{item.referenceNumber}}
                            </td>
                            <td>
                                {{item.description}}
                            </td>
                            <td>
                                {{item.transactionDate | date : 'medium'}}
                            </td>
                            <td>
                                {{item.transactionType.name}}
                            </td>
                            <td>
                                <span [ngClass]="{'text-green-500': item.amount > 0, 'text-red-500': item.amount < 0}">
                                    {{item.amount | currency : 'PHP'}}
                                </span>
                            </td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple class="p-button-text p-button-warning" icon="pi pi-trash"
                                        pTooltip="Delete"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [colSpan]="7">
                                No records found
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="loadingbody">
                        <tr *ngFor="let i of [].constructor(5)">
                            <td><p-skeleton></p-skeleton></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td><p-skeleton></p-skeleton></td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-container>