<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3" *ngIf="guestInvitations$ | withStatus | async as guestInvitations">
        <div class="card mb-0" *ngIf="!guestInvitations.loading">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Main Guests</span>
                    <div class="text-900 font-medium text-xl">{{guestInvitations.value?.totalMainGuests|| 0}}
                        <div class="text-500 text-sm"></div>
                    </div>

                </div>
                <div class=" flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-users text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{guestInvitations.value?.totalAccepted +
                guestInvitations.value?.totalSecondaryGuests || 0}} Total Going
            </span>
        </div>
        <div class="card mb-0 text-center" *ngIf="guestInvitations.loading">
            <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" />
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3" *ngIf="guestInvitations$ | withStatus | async as guestInvitations">
        <div class="card mb-0" *ngIf="!guestInvitations.loading">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Sent Invitations</span>
                    <div class="text-900 font-medium text-xl">{{guestInvitations.value?.totalGuestInvitations|| 0}}
                        <div class="text-500 text-sm"></div>
                    </div>

                </div>
                <div class=" flex align-items-center justify-content-center bg-pink-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-comment text-pink-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{guestInvitations.value?.totalAccepted +
                guestInvitations.value?.totalDeclined || 0}} Responded
            </span>
        </div>
        <div class="card mb-0 text-center" *ngIf="guestInvitations.loading">
            <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" />
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3" *ngIf="budgets$ | withStatus | async as budget">
        <div class="card mb-0" *ngIf="!budget.loading">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total Budget</span>
                    <div class="text-900 font-medium text-xl">{{budget.value.totalAmount || 0 | currency : 'PHP'}}
                    </div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-calculator text-green-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{budget.value.totalAmountDue | currency : 'PHP'}}
            </span>
            <span class="text-500">Total Cost</span>
            <ng-container
                *ngIf="{totalUsed: (budget.value.totalAmountDue) / budget.value.totalAmount | absoluteValue} as data">
                <span
                    [ngClass]="{'text-green-500 ': data.totalUsed < 1, 'text-red-500 ': data.totalUsed > 1, 'text-blue-500': data.totalUsed === 1}"
                    class="font-medium">
                    {{data.totalUsed | percent}}
                </span>
                <span class="text-blue-500" *ngIf="data.totalUsed === 1">Used</span>
                <span class="text-green-500" *ngIf="data.totalUsed < 1">Used</span>
                <span class="text-red-500" *ngIf="data.totalUsed > 1">Overbudget</span>
            </ng-container>
        </div>
        <div class="card mb-0 text-center" *ngIf="budget.loading">
            <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" />
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3" *ngIf="expenses$ | withStatus | async as expenses">
        <div class="card mb-0" *ngIf="!expenses.loading">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Total Expenses</span>
                    <div class="text-900 font-medium text-xl">{{expenses.value.totalExpenses | currency : 'PHP'}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-wallet text-orange-500 text-xl"></i>
                </div>
            </div>
            <span
                [ngClass]="{'text-orange-500': expenses.value.totalUnsettledTransactions > 0, 'text-green-500': expenses.value.totalUnsettledTransactions <= 0}"
                class="font-medium">{{expenses.value.totalUnsettledTransactions | currency :
                'PHP'}}</span>
            <span class="text-500"> Unreconciled Payments</span>
        </div>
        <div class="card mb-0 text-center" *ngIf="expenses.loading">
            <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" />
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Transactions</h5>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>

        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>
                <div>
                    <button pButton type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain"></button>
                    <p-menu #menu [popup]="true"></p-menu>
                </div>
            </div>

            <span class="block text-600 font-medium mb-3">TODAY</span>
            <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Passion Cooks
                        <span class="text-700"> 2/3 payment Due <span class="text-blue-500">P
                                1,000</span></span>
                    </span>
                </li>
            </ul>

            <span class="block text-600 font-medium mb-3">YESTERDAY</span>
            <ul class="p-0 m-0 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Passion Cooks
                        <span class="text-700"> 1/3 payment <span class="text-blue-500">P 2,000</span></span>
                    </span>
                </li>
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-question text-xl text-pink-500"></i>
                    </div>
                    <span class="text-900 line-height-3">User<span class="text-700"> accepted
                            your invitation.</span></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class=" card">
            <h5>Timeline</h5>
            <p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span
                        class="flex z-1 w-2rem h-2rem align-items-center justify-content-center text-white border-circle shadow-2"
                        [style.backgroundColor]="event.color">
                        <i [ngClass]="event.icon"></i>
                    </span>
                </ng-template>
                <ng-template pTemplate="content" let-event>
                    <p-card [header]="event.status" [subheader]="event.date">
                        <img *ngIf="event.image" [src]="'assets/demo/images/product/' + event.image" [alt]="event.name"
                            width="200" class="shadow-2" />
                        <p class="line-height-3 my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </p-card>
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>