<ng-container *ngIf="
{
    eventGuestInvitation: eventGuestInvitation$ | withStatus | async,
    content: content$ | withStatus | async,
    guest: guest$ | withStatus | async
} as data">
    <ngx-dynamic-hooks *ngIf="!data.content?.loading && !data.guest?.loading && !data.eventGuestInvitation?.loading"
        [content]="data.content!.value?.htmlContent" [context]="{
        guest: data.guest?.value,
            eventGuestInvitation: data.eventGuestInvitation!.value!,
            onSubmit: onSubmit}" [options]="{sanitize: false}"></ngx-dynamic-hooks>
</ng-container>